PyYAML==3.10
UNKNOWN==0.0.0
colorama==0.2.7
jinja2==2.7.1
mysql-connector-python==1.0.12
nltk==2.0.4
numpy==1.7.1
openpyxl==1.7.0
pandas==0.11.0
py==1.4.19
py2exe==0.6.9
pyodbc==3.0.7
pytest==2.5.1
python-dateutil==1.5
pytz==2013b
sqlalchemy==0.7.11dev
werkzeug==0.9.4
